p {
    color:#964B00 ;
    line-height: 30px;
}

h1 {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,h3,h4,p {
    text-align: center;
}

h3 {
    color: black;
}

a {
    color: rgb(00, 250, 00);
    text-decoration: none;
}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color: black;
}

span {
    text-decoration:underline ;
}